.header {
  background: var(--gray-700);
  height: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .header {
    height: 100px;
  }
}

.logoImg {
  display: flex;
  width: 1.375rem;
  height: 2.25rem;
  margin-right: 12px;
  margin-top: 3px;
}

.logoText {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--blue-200);
}

.logoText span {
  color: var(--purple-500);
}