.taskItem {
  display: flex;
  padding: 16px;

  background: var(--gray-500);

  border: 1px solid var(--gray-400);
  border-radius: 8px;

  margin-bottom: 12px;
}

.taskItem input:checked ~ .checkBox {
  background: url("/static/images/checked-true_hover-false.svg") no-repeat;
  transition: 0.2s;
}

.taskItem label {
  cursor: pointer;
}

.taskItem input:checked:hover ~ .checkBox {
  background: url("/static/images/checked-true_hover-true.svg");
  transition: 0.2s;
}

.taskItem input:not(:checked):hover ~ .checkBox {
  background: url("/static/images/checked-false_hover-true.svg");
  transition: 0.2s;
}

.checkInput {
  display: none;
}

.checkBox {
  background: url("/static/images/checked-false_hover-false.svg") no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  display: flex;
  align-items: flex-start;
}

.text {
  margin: 0px 12px;

  font-weight: 400;
  font-size: 0.875rem;
  color: var(--gray-100);

  width: 632px;
}

.textDeleted {
  margin: 0px 12px;

  font-weight: 400;
  font-size: 0.875rem;
  color: var(--gray-300);
}

.delete {
  background: url("/static/images/delete_hover-false.svg") no-repeat;
  border: none;
  display: flex;
  align-items: flex-start;

  height: 24px;
  width: 24px;
}

.delete img {
  height: 24px;
}

.delete:hover {
  background: url("/static/images/delete_hover-true.svg");
  transition: 0.2s;
}
